@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Qwitcher+Grypen:wght@400;700&family=Source+Serif+4:opsz,wght@8..60,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }

  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }

  .font-qwitcher {
    font-family: "Qwitcher Grypen", cursive;
  }

  .font-serif4 {
    font-family: "Source Serif 4", serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
